<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Northwind</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/GeminusF/northwind" target = _blank>Repository</a>
        </li>
        <app-cart-summary> </app-cart-summary>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-info dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Artan Sıra
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Qiymətə görə</a></li>
          <li><a class="dropdown-item">Ada görə</a></li>
          <li><a class="dropdown-item">Stok ədədinə görə</a></li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-info dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Azalan Sıra
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Qiymətə görə</a></li>
          <li><a class="dropdown-item">Ada görə</a></li>
          <li><a class="dropdown-item">Stok ədədinə görə</a></li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
