<div *ngIf="dataLoaded == false" class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded != false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Məhsulun adı</th>
      <th>Kategoriyası</th>
      <th>Qiyməti</th>
      <th>Stock ədədi</th>
    </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice }}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
</table>
